<%- include('../shared/header') %>
<div class="container">
  <h1>Usuarios</h1>
  <input type="button" value="Voltar" onclick="window.location = '/usuarios'" >
  <form action="/usuarios/<%= usuario.id %>/atualizar" method="post">
    <fieldset>
      <legend>Alteração do usuário: <%= usuario.nome %></legend>
      <%- include('partials/form', {usuario: usuario}) %>
      <input type="submit" value="Atualizar">
    </fieldset>
  </form>
</div>
<%- include('../shared/footer') %>